<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time of admission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet"> 
    <style>
        p { font-family: 'Cormorant Garamond', serif;}
    </style>
</head>
<body>
    <div class="container" th:fragment="data">
        <p></p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Direction code</th>
                    <th scope="col">Direction name</th>
                    <th scope="col">StudyTime</th>
                    <th scope="col">Current Scores</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dir : ${compTable}">
                    <th class="row">
                        <div th:text="${dir.code}"></div>
                    </th>
                    <td>
                        <div th:text="${dir.name}"></div>
                    </td>
                    <td>                  
                        <div th:text="${dir.studyTime}"></div>
                    </td>
                    <td>
                        <div th:text="${dir.scores}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>