<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UScraper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        .container { height: 60vh; }
    </style>
</head>
<body>
    <header th:insert="parts/navbar :: header"></header>
    <div class="container d-flex align-items-center">
        <div class="d-flex flex-column">    
            <h1>Welcome to Universities Scraper Project prototype!</h1>
            <p>To start working, please, enter university name in search field</p>
            <p>Or choose it from list by clicking on <a href="/ulist">Universities List</a> button</p>
        </div>
    </div>
</body>
</html>