<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Главная кнопка-напдись-->
            <a class="navbar-brand" href="/">UScraper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Кнопки в верхней панели-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/ulist">Universities List</a>
            </li>
            </ul>
        </div>
        <!-- Поисковая строка-->
        <form class="d-flex justify-content: space-between" th:action="@{/search}" th:method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="uname">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
</div>